.Bottle{
    position: absolute;
    width: 14.2vw;
    height: 24.9vw;
    left: 17.9vw;
    top: 3.1vw;
	transition: 1s;
    margin-right: 0;
}

.Bottle img{
    width: 100%;
    height: 100%;

}

.Info{
    position: absolute;
    opacity: 0;
    transition: 1s;
    width: 26.8vw;
    height: 19.6vw;
    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4vw;
    line-height: 131.52%;
    color: #FFFFFF;
    left: 21.4vw;
    top: 4.5vw;
    text-align: center;
}

.AppleInfo{
    width: 27.4vw;
    height: 14.7vw;
}

.AppleInfo li{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    list-style: none; /* Убираем исходные маркеры */
    background: url(../images/LiMark.svg) no-repeat; /* Параметры фона */
    background-size: 0.9vw 1.8vw;
    padding-left: 1.5vw; /* Смещаем текст вправо */ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 174.02%;
    color: #FFFFFF;
    width: 27.4vw;
    justify-content: flex-start;

}

.AppleInfo ul{
    padding: 0;
}

.AUnderLine{
    margin: 0.7vw 0 1.1vw 0;
    width: 25.6vw;
    height: 0.11vw;
    background: #FFFFFF;
}

.VitaminInfo{
    width: 27.4vw;
    height: 14.7vw;
}

.VitaminInfo li{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    list-style: none; /* Убираем исходные маркеры */
    background: url(../images/LiMark.svg) no-repeat; /* Параметры фона */
    background-size: 0.9vw 1.8vw;
    padding-left: 1.5vw; /* Смещаем текст вправо */ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 174.02%;
    color: #FFFFFF;
    width: 27.4vw;
    justify-content: flex-start;

}

.VitaminInfo ul{
    padding: 0;
    width: 27.4vw;
    height: 14.7vw;
}

.VUnderLine{
    margin: 0.7vw 0 1.1vw 0;
    width: 14.1vw;
    height: 0.11vw;
    background: #FFFFFF;
}


.Info p{
    text-align: left;
    width: 25.6vw;
    height: 3.2vw;
    margin: 0;
    bottom: 0.7vw;
}


.VitaminD3:hover > .Info{
    opacity: 1;
    width: 23.9%;
    height: 68.37%; 
    transition: 1s;
}
.AppleCider:hover > .Info{
    opacity: 1;
    width: 23.9%;
    height: 68.37%;  
    transition: 1s;
}

.VitaminD3:hover > .Bottle{
    opacity: 1;
    width: 23.9%;
    height: 68.37%;
    left: 5.2vw;
    top: 5.1vw;  
    transition: 1s;
}

.AppleCider:hover > .Bottle{
    opacity: 1;
    width: 23.9%;
    height: 68.37%;
    left: 5.2vw;
    top: 5.1vw;  
    transition: 1s;
}