
#NavButUp{
    height: 1.4vw;
    color: #090E34;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 131.52%;
}


#NavButUp:hover{
    color: #D12A32;
    cursor: pointer;
}

#NavBut{
    height: 1.4vw;
    font-family: 'MontserratMedium';
    font-style:  normal;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 131.52%;
    color: #FFCACA;
}

#NavBut:hover{
    color: #FFC400;
    cursor: pointer;
}