
@media screen and (max-device-width: 900px){

#NavBut{
        height: 8.1vw;
        font-size: 6.25vw;
}

.RedLine{
    height: 1px;
    width: 82.2vw;
    background: #D12A32;
}

.Selected{
    width: 6.3vw;
    height: 5.3vw;
    font-size: 4.4vw;
    line-height: 5.3vw;
}

.buttonContainer{
    display: none;
}

.buttonBlock{
    display: none;
}

.Burger{
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
    margin-left: 10px;
}

.blockCenter{
    display: none;
}

.blockCenter{
    justify-content: space-around;
}

.JoinUs{
    display: none;
    visibility: hidden;
}

.promo{
    width: 100%;
    height: 106.3vw;
    padding: 0;
}

.content-wrapper{
    margin-top: 26.6vw;
    height: 1437.5vw;
}

#RussianLocal{
    margin-top: 26.6vw;
    height: 1482.5vw;
}

.headPromo{
    width: 100%;
    height: 16.9vw;
    align-items: flex-end;   
}

.textPromo{
    width: 85vw;
    height: 7.5vw;
    font-size: 5.7vw;
}

.centerPromo{
    width: 100%;
    height: 66.6vw;
    background-image: url(../images/PromoMin.png);
}

.footerPromo{
    height: 22.8vw;
}

.FooterPromoConteiner{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.footerPromoContent{
    width: 22vw;
    height: 15.8vw;
}

.FooterPromoConteinerRu{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.footerPromoContentRu{
    width: 20.9vw;
    height: 15.2vw;
}

.footerPromoTextRu{
    width: 23.8vw;
    height: 3.4vw;
    font-size: 2.4vw;
    line-height: 2.8vw;
    
}

.footerPromoImg{
    width: 10.1vw;
    height: 10.1vw;
}

.footerPromoText{
    width: 22vw;
    height: 3.4vw;
    font-size: 2.7vw;
    line-height: 3.4vw;
}

.firstHeader{
    width: 100%;
    height: 436.6vw;
    padding-top: 6vw;

}

.headerName{
    width: 100%;
    height: 24.7vw;
}

.firstHeaderText{
    font-size: 9.4vw;
    height: 12.2vw;
}

.firstContent{
    flex-direction: column;
    flex-wrap: nowrap;
    height: 411.9vw;
}

.AppleCider{
    width: 100%;
    height: 205.9vw;
}

.VitaminD3{
    width: 100%;
    height: 205.9vw;
}

.AppleInfo{
    width: 93.5vw;
    height: 55vw;
}

.AUnderLine{
    margin: 2.5vw 0 2.8vw 0;
    width: 88.3vw;
    height: 0.4vw;
}

.AUnderLineRu{
    margin: 2.5vw 0 2.8vw 0;
    width: 88.3vw;
    height: 0.4vw;
}

.AppleInfo li{
    padding-left: 6vw;
    font-size: 3.9vw;
    background-size: 3.3vw 6.2vw;
    width: 97vw;
}

.VitaminInfo{
    width: 93.5vw;
    height: 55vw;
}

.VUnderLine{
    margin: 2.5vw 0 2.8vw 0;
    width: 88.3vw;
    height: 0.4vw;
}

.VUnderLineRu{
    margin: 2.5vw 0 2.8vw 0;
    width: 88.3vw;
    height: 0.4vw;
}

.VitaminInfo li{
    background-size: 3.3vw 6.2vw;
    padding-left: 6vw;
    font-size: 3.9vw;
    width: 97vw;
}

.Bottle{
    width: 59.2vw;
    height: 104.4vw;
    left: 20.7vw;
    top: 9.4vw;
}

.VitaminD3:hover > .Info{
    width: 97vw;
    height: 71.6vw;
    opacity: 1;
}
.AppleCider:hover > .Info{
    width: 97vw;
    height: 71.6vw;
    opacity: 1;
}

.VitaminD3:hover > .Bottle{
    opacity: 1;
    width: 59.2vw;
    height: 104.4vw;
    left: 20.7vw;
    top: 9.4vw;
}

.AppleCider:hover > .Bottle{
    opacity: 1;
    width: 59.2vw;
    height: 104.4vw;
    left: 20.7vw;
    top: 9.4vw;
}

.Info{
    width: 97vw;
    height: 71.6vw;
    left: 3.1vw;
    top: 125vw;
    opacity: 1;
    font-size: 8.4vw;
    overflow: hidden;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Info img{
    width: 93.5vw;
    height: 41.3vw;
}

#Ru{
    height: 36.9vw;
}

#TextRu{
    height: 24.4vw;
}

#HRu{
    height: 448.8vw;
}

.Info p{
    text-align: center;
    width: 97vw;
    height: 10.9vw;
    margin: 0;
    bottom: 0.7vw;
}
#UnderLine{
    width: 88.3vw;
    height: 0.4vw;
}

.secondHeader{
    padding-top: 6.25vw;
    width: 100%;
    height: 402.9vw;
}

.secondContainer{
    width: 89.4vw;
    height: 390.4vw;
}

.Name{
    height: 20.7vw;
}

.Text{
    font-size: 9.4vw;
}

.TextRu{
    font-size: 9.4vw;
}

.Text img{
    width: 67vw;
    height: 7.4vw;
}

.TextRu img{
    width: 67vw;
    height: 7.4vw;
}

.secondBody{
    flex-direction: column;
    height: 363.4vw;
}

.FeedBack{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    width: 89.4vw;
    border-radius: 6.6vw;
    height: fit-content;
    padding: 6.3vw 4.1vw;
}

.FeedBackContainer{
    width: 82vw;
    height: fit-content;
}

.FeedBackText{
    width: 82vw;
    font-size: 4.0625vw;
    height: fit-content;
}

.FeedBackInfo{
    margin-top: 4.7vw;
    width: 81.3vw;
    height: fit-content;
}

.FeedBackName{
    font-size: 5vw;
    height: fit-content;
}

.Stars{
    width: 36.2vw;
    height: 5.8vw;
}

.thirdHeader{
    height: 152.5vw;
}

.thirdContainer{
    width: 100%;
    height: 133.5vw;
}

.SlideContainer{
    border: 0.5vw dashed #FFFFFF;
}

.lastHeader{
    height: 94.7vw;
}

.imgBackground{
    width: 100%;
    height: 94.7vw;
    top: 0;
    background-image: url(../images/HeadBottomImgMin.png);
    background-size: contain;
}

.footer{
    height: 200vw;
}

.footer img{
    width: 82.5vw;
    height: 35.9vw;
}

.DesktopFooter{
    display: none;
}

.footerMobileConteiner{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.footerHeaders{
    width: 82.5vw;
    height: 51.3vw;
    flex-direction: column;
    font-size: 6.25vw;
}

#IncSign{
    width: 37.2vw;
    height: 37.2vw;  
}

.InstFollow{
    width: 55.3vw;
    height: 10vw;
    font-size: 5vw;
}

.InstFollow img{
    height: 10vw;
    width: 10vw;
}

.JoinUsMobile{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

#JMRu{
    background-image: url(../images/ArrowsMobileRu.svg);
    background-size: 100% 100%;
}

.JoinUsBottom{
    display: none;
}

.SliderContainer{
    display: none;
}

.Navigation{
    display: none;
}

.MobileSliderConteiner{
    display: block;
}

.MobileSliderNavigation{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.ViewArea{
    width: 100vw;
    height: 87.5vw;
}

.SlideWrapper{
    width: calc(100%*6);
}

.SlideContainer{
    padding: 4vw;
    width: 87.5vw;
    height: 87.5vw;
    border: 0.5vw dashed #FFFFFF;
    border-radius: 10.7vw;
}

.Slide-Img{
    border-radius: 6.99vw;
}

.ButtonPrevious{
    padding-left: 2vw;
    height: 12.5vw;
    width: 12.5vw;
}

.ButtonNext{
    padding-right: 2vw;
    height: 12.5vw;
    width: 12.5vw;
}

.ButtonPrevious img{
    width: 7.1vw;
    height: 7.1vw;
}

.ButtonNext img{
    width: 7.1vw;
    height: 7.1vw;
}

.NavButton{
    margin-right: 0;
    width: 5.3vw;
    height: 5.3vw;
    border: 0.6 solid #FFFFFF;
}

.Slide{
    padding: 0, 6.25vw;
    width: 100vw;
    height: 100vw;
}

}


@media screen and (min-width: 1920px){
   .header{
    height: 100px;
   }

   .logo{
    width: 263.63px;
    height: 100px;
   }

   .buttonContainer{
    width: 712px;
    height: 100px;
   }

   .navigation{
    width: 612px;
   }

   .navigation a{
    font-size: 20px;
   }

   .buttonBlock{
    width: 263.63px;
    height: 100px;
    padding-right: 50px;
   }




 

  

 

 

   .JoinUs{
    height: 99px;
    font-size: 33.5846px;
   }

   .contentConteinerUp{
    width: 574.28px;
    height: 99.46px;
    font-size: 33.5846px;
   }

   #LemonJ{
    width: 65.49px;
    height: 44.5px;
   }

   #ArrowJ{
    width: 65.49px;
    height: 62.97px;
   }

   #AppleJ{
    width: 65.49px;
    height: 44.5px;
   }

   .footer{
    height: 219px;
   }

   .DesktopFooter{
    height: 219px;
    background-size: 100% 219px;
   }

   .centerInc{
    width: 623px;
    height: 91px;
   }

   .footerHeaders{
    width: 623px;
    height: 26px;   
    font-size: 20px;
   }

   .InstFollow{
    width: 177px;
    height: 32px;
    font-size: 16px;
   }

   .InstFollow img{
    width: 32px;
    height: 32px;   
   }

   .buttonContainerRu{
    width: 979px;
    height: 100%;
   }

   .navigationRu{
    width: 879px;
   }

   .navigationRu a{
    font-size: 20px;
   }

   .contentConteinerUpRu{
    font-size: 33.5846px;
    width: 736.28px;
    height: 99.46px;
    }

    .JoinUsContainerRu{
        width: 721.55px;
        font-size: 40px;
    }

    #BTRu{
        font-size: 8.1vw;
    }

    .centerIncRu{
        width: 890px;
        height: 91px;
    }

    .footerHeadersRu{
        width: 890px;
        height: 26px;   
        font-size: 20px;
    }

    #NavBut{
        height: 26px;
        font-size: 20px;
    }

    #NavButUp{
        height: 26px;
        font-size: 20px;
    }

    .TriggerBut{
        width: 60px;
	    height: 30px;
    }

    .ButtonLang{
        width: 60px;
	    height: 30px;
	    padding: 0 10px;
	    border-radius: 36px;
    }

    .ButtonLang.show{
        height: 60px;
	    border-radius: 15px;
    }

    .SelectLang{
        width: 38px;
        font-size: 14px;
	    line-height: 17px;
        margin: 6.5px 0;
    }

    .HiddenLangs{
        width: 58px;
        height: 30px;
        font-size: 14px;
	    line-height: 17px;
        padding: 6.5px 10px;
    }

    .HiddenLangs li{
        font-size: 14px;
	    line-height: 17px;
    }

    .HiddenLangs a{
        font-size: 14px;
	    line-height: 17px;
    }

    .SelectLang img{
        width: 6px;
        height: 10px;
    }

    .SelectLang.show img{
        width: 6px;
        height: 10px;
    }

    #BackTop{
        padding: 17.94px  14.03px;
        width: 66px;
        height: 66px;  
        border: 2px solid #FFFFFF;  
    }

    #ButtonTop{
        height: 37.24px;
    }
}