
@media screen and (max-device-width: 767px){

.Selected{
    width: 6.3vw;
    height: 5.3vw;
    font-size: 4.4vw;
    line-height: 5.3vw;
}

.buttonContainer{
    display: none;
}

.buttonBlock{
    display: none;
}

.Burger{
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
    margin-left: 10px;
}

.blockCenter{
    display: none;
}

.blockCenter{
    justify-content: space-around;
}

.JoinUs{
    display: none;
    visibility: hidden;
}

.promo{
    width: 100%;
    height: 106.3vw;
    padding: 0;
}

.content-wrapper{
    margin-top: 26.6vw;
    height: 1437.5vw;
}

.headPromo{
    width: 100%;
    height: 16.9vw;
    align-items: flex-end;   
}

.textPromo{
    width: 85vw;
    height: 7.5vw;
    font-size: 5.7vw;
}

.centerPromo{
    width: 100%;
    height: 66.6vw;
    background-image: url(../images/PromoMin.svg);
}

.footerPromo{
    height: 22.8vw;
}

.FooterPromoConteiner{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.footerPromoContent{
    width: 20.9vw;
    height: 15.8vw;
}

.FooterPromoConteinerRu{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.footerPromoContentRu{
    width: 23.8vw;
    height: 15.8vw;
}

.footerPromoTextRu{
    width: 23.8vw;
    height: 3.4vw;
    font-size: 2.7vw;
    line-height: 3.4vw;
}

.footerPromoImg{
    width: 10.1vw;
    height: 10.1vw;
}

.footerPromoText{
    width: 20.9vw;
    height: 3.4vw;
    font-size: 2.7vw;
    line-height: 3.4vw;
}

.firstHeader{
    width: 100%;
    height: 409.1vw;
    padding-top: 6vw;

}

.headerName{
    width: 100%;
    height: 24.7vw;
}

.firstHeaderText{
    font-size: 9.4vw;
    width: 56.9vw;
    height: 12.2vw;
}

.firstContent{
    flex-direction: column;
    flex-wrap: nowrap;
    height: 384.4vw;
}

.AppleCider{
    width: 100%;
    height: 192.2vw;
}

.VitaminD3{
    width: 100%;
    height: 192.2vw;
}

.AppleInfo{
    width: 93.5vw;
    height: 41.3vw;
}

.AUnderLine{
    margin: 2.5vw 0 2.8vw 0;
    width: 88.3vw;
    height: 0.4vw;
}

.AppleInfo li{
    padding-left: 6vw;
    font-size: 3.9vw;
    background-size: 3.3vw 6.2vw;
    width: 97vw;
}

.VitaminInfo{
    width: 93.5vw;
    height: 41.3vw;
}

.VUnderLine{
    margin: 2.5vw 0 2.8vw 0;
    width: 88.3vw;
    height: 0.4vw;
}

.VitaminInfo li{
    background-size: 3.3vw 6.2vw;
    padding-left: 6vw;
    font-size: 3.9vw;
    width: 87.2vw;
}

.Bottle{
    width: 59.2vw;
    height: 104.4vw;
    left: 20.7vw;
    top: 9.4vw;
}

.VitaminD3:hover > .Info{
    width: 93.5vw;
    height: 57.8vw;
    left: 3.1vw;
    top: 125vw;
    opacity: 1;
}
.AppleCider:hover > .Info{
    width: 93.5vw;
    height: 57.8vw;
    left: 3.1vw;
    top: 125vw;
    opacity: 1;
}

.VitaminD3:hover > .Bottle{
    opacity: 1;
    width: 59.2vw;
    height: 104.4vw;
    left: 20.7vw;
    top: 9.4vw;
}

.AppleCider:hover > .Bottle{
    opacity: 1;
    width: 59.2vw;
    height: 104.4vw;
    left: 20.7vw;
    top: 9.4vw;
}

.Info{
    width: 93.5vw;
    height: 57.8vw;
    left: 3.1vw;
    top: 125vw;
    opacity: 1;
    font-size: 8.4vw;
    overflow: hidden;
}

.Info img{
    width: 93.5vw;
    height: 41.3vw;
}

.Info p{
    text-align: center;
    width: 88.4vw;
    height: 10.9vw;
    margin: 0;
    bottom: 0.7vw;
}
#UnderLine{
    width: 88.3vw;
    height: 0.4vw;
}

.secondHeader{
    padding-top: 6.25vw;
    width: 100%;
    height: 402.9vw;
}

.secondContainer{
    width: 89.4vw;
    height: 390.4vw;
}

.Name{
    height: 20.7vw;
}

.Text{
    font-size: 9.4vw;
}

.TextRu{
    font-size: 9.4vw;
}

.Text img{
    width: 67vw;
    height: 7.4vw;
}

.TextRu img{
    width: 67vw;
    height: 7.4vw;
}

.secondBody{
    margin-top: 6.3vw;
    flex-direction: column;
    height: 363.4vw;
}

.FeedBack{
    display: flex;
    width: 89.4vw;
    border-radius: 6.6vw;
    height: fit-content;
    padding: 6.3vw 4.1vw;
}

.FeedBackContainer{
    width: 81.3vw;
    height: fit-content;
}

.FeedBackText{
    width: 81.3vw;
    font-size: 4.1vw;
    height: fit-content;
}

.FeedBackInfo{
    margin-top: 4.7vw;
    width: 81.3vw;
    height: fit-content;
}

.FeedBackName{
    font-size: 5vw;
    height: fit-content;
}

.Stars{
    width: 36.2vw;
    height: 5.8vw;
}

.thirdHeader{
    height: 152.5vw;
}

.thirdContainer{
    width: 100%;
    height: 133.5vw;
}

.lastHeader{
    height: 94.7vw;
}

.imgBackground{
    width: 100%;
    height: 94.7vw;
    top: 0;
    background-image: url(../images/HeadBottomImgMin.svg);
    background-size: contain;
}

.footer{
    height: 200vw;
}

.footer img{
    width: 82.5vw;
    height: 35.9vw;
}

.DesktopFooter{
    display: none;
}

.footerMobileConteiner{
    display: flex;
}

.footerHeaders{
    width: 47.5vw;
    height: 51.3vw;
    flex-direction: column;
    font-size: 6.3vw;
}

#IncSign{
    width: 37.2vw;
    height: 37.2vw;  
}

.InstFollow{
    width: 55.3vw;
    height: 10vw;
    font-size: 5vw;
}

.InstFollow img{
    height: 10vw;
    width: 10vw;
}

.JoinUsMobile{
    display: flex;
}

.JoinUsBottom{
    display: none;
}

.SliderContainer{
    display: none;
}

.Navigation{
    display: none;
}

.MobileSliderConteiner{
    display: block;
}

.MobileSliderNavigation{
    display: flex;
}

.ViewArea{
    width: 100vw;
    height: 87.5vw;
}

.SlideWrapper{
    width: calc(100%*6);
}

.SlideContainer{
    padding: 4vw;
    width: 87.5vw;
    height: 87.5vw;
    border: 0.5vw dashed #FFFFFF;
    border-radius: 10.7vw;
}

.Slide-Img{
    border-radius: 6.99vw;
}

.ButtonPrevious{
    padding-left: 2vw;
    height: 12.5vw;
    width: 12.5vw;
}

.ButtonNext{
    padding-right: 2vw;
    height: 12.5vw;
    width: 12.5vw;
}

.ButtonPrevious img{
    width: 7.1vw;
    height: 7.1vw;
}

.ButtonNext img{
    width: 7.1vw;
    height: 7.1vw;
}

.NavButton{
    margin-right: 0;
    width: 5.3vw;
    height: 5.3vw;
    border: 0.6 solid #FFFFFF;
}

.Slide{
    padding: 0, 6.25vw;
    width: 100vw;
    height: 100vw;
}

.languagesContainer.open-option{
    width: 18.8vw;
    height: 18.8vw;
    border-radius: 4.7vw;
}

.Options.open-option{
    width: 18.8vw;
    height: 18.8vw;
}

.Option.open-option{
    padding: 2vw 3.1vw;
    width: 18.8vw;
    height: 9.4vw;
    font-size: 4.4vw;
    line-height: 5.3vw;
}

.SelectedOption.open-option{
    padding-top: 2vw;
    width: 18.8vw;
    height: 9.4vw;
    font-size: 4.4vw;
    line-height: 5.3vw;
}

.ArrowDown{
    width: 3.2vw;
    height: 3.1vw;
}

.changeLang{
    width: 3.2vw;
    height: 3.1vw;
}

}


@media screen and (min-width: 1920px){
   .header{
    height: 100px;
   }

   .logo{
    width: 263.63px;
    height: 100px;
   }

   .buttonContainer{
    width: 712px;
    height: 100px;
   }

   .navigation{
    width: 612px;
   }

   .navigation a{
    font-size: 20px;
   }

   .buttonBlock{
    width: 263.63px;
    height: 100px;
    padding-right: 50px;
   }

   .languagesContainer{
    width: 60px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 17px; 
    border-radius: 36px; 
   }

   .changeLang{
    width: 6px;
    height: 10px;
   }

   .languagesContainer.open-option{
    width: 60px;
    height: 60px;
    border-radius: 15px;
   }

   .Options.open-option{
    width: 60px;
    height: 60px;
   }

   .Option.open-option{
    width: 36px;
    height: 19px;
    font-size: 14px;
    line-height: 17px;
   }

   .SelectedOption.open-option{
    width: 60px;
    height: 28.5px;
    font-size: 14px;
    line-height: 17px;
   }

   .ArrowDown{
    width: 6px;
    height: 10px;
   }

   .JoinUs{
    height: 99px;
    font-size: 33.5846px;
   }

   .contentConteinerUp{
    width: 559.27px;
    height: 99.46px;
   }

   #LemonJ{
    width: 65.49px;
    height: 44.5px;
   }

   #ArrowJ{
    width: 108px;
    height: 108px;
   }

   #AppleJ{
    width: 49.48px;
    height: 44.5px;
   }

   .footer{
    height: 219px;
   }

   .DesktopFooter{
    height: 219px;
    background-size: 100% 219px;
   }

   .centerInc{
    width: 623px;
    height: 91px;
   }

   .footerHeaders{
    width: 623px;
    height: 26px;   
    font-size: 20px;
   }

   .InstFollow{
    width: 177px;
    height: 32px;
    font-size: 16px;
   }

   .InstFollow img{
    width: 32px;
    height: 32px;   
   }

   .buttonContainerRu{
    width: 979px;
    height: 100%;
   }

   .navigationRu{
    width: 879px;
   }

   .navigationRu a{
    font-size: 20px;
   }

   .contentConteinerUpRu{
    width: 721.55px;
    }

    .centerIncRu{
        width: 890px;
        height: 91px;
    }

    .footerHeadersRu{
        width: 890px;
        height: 26px;   
        font-size: 20px;
    }
}