.Navigation {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    width: 83.3vw;
    height: 4.5vw;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
}

.NavButton {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 50px;
}

.NavButton:hover {
    cursor: pointer;
}

.SliderContainer{
    width: 83.3vw;
    height: 26.4vw;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ButtonPrevious{
    padding-left: 0.7vw;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 4.2vw;
    height: 4.2vw;
    background: #D12A32;
    box-shadow: 0px 23px 9px rgba(255, 0, 13, 0.02), 0px 13px 8px rgba(255, 0, 13, 0.08), 0px 6px 6px rgba(255, 0, 13, 0.13), 0px 1px 3px rgba(255, 0, 13, 0.15), 0px 0px 0px rgba(255, 0, 13, 0.15);
    border-radius: 50%;
}

.ButtonNext{
    padding-right: 0.7vw;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4.2vw;
    height: 4.2vw;
    background: #D12A32;
    box-shadow: 0px 23px 9px rgba(255, 0, 13, 0.02), 0px 13px 8px rgba(255, 0, 13, 0.08), 0px 6px 6px rgba(255, 0, 13, 0.13), 0px 1px 3px rgba(255, 0, 13, 0.15), 0px 0px 0px rgba(255, 0, 13, 0.15);
    border-radius: 50%;
}

.ButtonNext:hover{
    cursor: pointer;
}

.ButtonPrevious:hover{
    cursor: pointer;
}

.ButtonPrevious img{
    position: absolute;
    width: 2.4vw;
    height: 2.4vw;
}

.ButtonNext img{
    position: absolute;
    width: 2.4vw;
    height: 2.4vw;
}

.ViewArea{
    width: 59.1vw;
    height: 26.4vw;
    position: relative;
    overflow: hidden;
}

.NavButton {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 1.4vw;
    height: 1.4vw;
    border: 2px solid #FFFFFF;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 2.6vw;
    transition: 0.5s;
}

.NavButton:hover {
    cursor: pointer;
}

.Slide{
   
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    
}

.SlideContainer{
    padding: 1.2vw;
    width: 26.4vw;
    height: 100%;
    border: 0.2vw dashed #FFFFFF;
    border-radius: 3.2vw;
}

.Slide-Img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2.1vw;
}

.SlideWrapper{
    position: relative;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    width: calc(100%*3);
    height: 100%;
    float: left;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.MobileSliderConteiner{
    display: none;
    margin-top: 6.3vw;
    width: 100%;
    height: 87.5vw;
}

.MobileSliderNavigation{
    display: none;
    margin-top: 6.3vw;
    width: 100vw;
    height: 12.5vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Points__nav{
    width: 50.6vw;
    height: 5.3vw;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0, 1.6vw;
}
